





h1 {

  color: #00FF00;

}

h2 {
	color: red;
	
}

body {

   background-position:50% 50%;
   color:white;
   background-color:black;
   background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftravisparr.co.uk%2Fwork%2F&psig=AOvVaw2R80pPlDo5P6uIUbSsWoX6&ust=1610739622950000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODAuOiWnO4CFQAAAAAdAAAAABBb);

}


